* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-selector,
.sound-selector {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.time-selector button,
.sound-selector button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-selector button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}

.sound-selector button:nth-child(1) {
  background: #f5c527;
}

.sound-selector button:nth-child(2) {
  background: #0ae9cb;
}

.sound-selector button img {
  height: 100%;
}

.time-selector button:hover {
  background: rgb(101, 201, 248);
  color: black;
  border-color: black;
}

.player-wrapper {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-wrapper svg {
  position: absolute;
  height: 50%;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-wrapper svg circle {
  transition: all 0.2s ease-in-out;
}

.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
